.flex{
    display:flex;
}

main{
  background-color: blue;
  height: 100vh;
}

.carousel{
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: lightblue;

}
.button-right{
    position: absolute;
    right: 0px;
}

.button-left{
    position: absolute;
    left: 0px;
}

img{
    object-fit:contain ;
    width: 100%;
    height: 100vh;
}

.hidden{
    display:none ;
}

.carousel .item.visible{
    display: block;
}